:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(23, 54, 12, 0.87);
  background-color: #b2b6af;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #c0c1c4;
  text-decoration: inherit;
}

a:hover {
  color: #ebebee;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: .5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* NavBar */
.nav{
  background-color: rgb(131, 131, 133);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 2%;
  width: 100%;
}

#HomePage {
  text-align: center;
}

#searchBar {
  line-height: 0.2;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#searchBtn {
  margin-top: 5px;
  line-height: 0.10;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* HomePage */
#homepagecontainer,
#websiteUpsell {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

#websiteTitle {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 25%;
}

#websiteTitle h1 {
  font-size: 4em;
  text-shadow: 
  1px 1px 0 #dfdede,
-1px -1px 0 #dfdede,  
 1px -1px 0 #dfdede,
 -1px 1px 0 #dfdede,
  1px 1px 0 #dfdede;
}

#recentPostsContainer h1, #myPostsContainer h1 {
  width: 100%;
  height: 20%;
  background-color: #726d6d;
}

#recentPostsContainer, #myPostsContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: space-evenly;
}

.recentPost {
  width: 30%;
  background-color: rgb(152, 153, 152);
  border-radius: 10px;
  overflow: hidden;
  margin: 1%;
}


/* Pages */

#groceryResults,
#menuResults,
#groceryFavsContainer,
#menuFavsContainer {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1%;
}
#groceryFavsContainer h1,
#menuFavsContainer h1 {
  width: 100%;
  text-align: center;
}

#menuResults img,
#menuFavsContainer img {
  width: 75%;
  border-radius: 10px;
}

p {
  display: inline-block;
  width: 55%;
}

#progressButtons {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
#progressButtons button {
  margin: auto;
}

/* Footer */
#footer {
  background-color: rgb(131, 131, 133);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}